# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.json
Problem217/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Problem217/bin/Debug/net7.0/Problem217
Problem217/obj/Debug/net7.0/apphost
Problem217/obj/Debug/net7.0/Problem217.AssemblyInfo.cs
Problem217/obj/Debug/net7.0/Problem217.AssemblyInfoInputs.cache
Problem217/obj/Debug/net7.0/Problem217.assets.cache
Problem217/obj/Debug/net7.0/Problem217.csproj.CoreCompileInputs.cache
Problem217/obj/Debug/net7.0/Problem217.csproj.FileListAbsolute.txt
Problem217/obj/Debug/net7.0/Problem217.GeneratedMSBuildEditorConfig.editorconfig
Problem217/obj/Debug/net7.0/Problem217.genruntimeconfig.cache
Problem217/obj/Debug/net7.0/Problem217.GlobalUsings.g.cs
Problem217/obj/Problem217.csproj.nuget.g.props
Problem217/obj/Problem217.csproj.nuget.g.targets
Problem217/obj/project.nuget.cache
